

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;

}


body{
    background-color: #eeeee4;
    font-family: monospace;

    
}

.questions-screen {
    color:black;
    font-family: monospace;
}

.button1 {
    color:purple;
}
